.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: black;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
}

.logo {
  height: 3rem;
  margin-right: 0.3rem;
}

.title {
  margin: auto;
}

.content-area {
  display: flex;
  flex-flow: column;
  width: 100%;
}
